
       body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  img .images{
  	height: 30px ;
  }
  .footer-copyright{
  	text-align: center;
  }